---
Language:        Cpp
BasedOnStyle:  LLVM
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit:     80
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IndentWidth:     4
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCBlockIndentWidth: 4
SortIncludes:    false
SortUsingDeclarations: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION

